/*p.intro {
  width: 50%;
  font-style: italic;
}*/

.sidebar {
  width: 15%;
  float: right;
  border: 2px dotted darkblue;
  padding: 3px;
  margin: 10px;
  background-color: aqua;
}

/*p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}*/

.important {
  font-size: 50px;
  color:red;
}

.dreary {
  font-family: "Comic Sans MS";
}

.sorrow {
  font-style: oblique;
  color: aqua;
}

.column {
  width: 300px;
  float: left;
  border: 2px dashed red;
  padding: 3px;
  margin: 5px;
  background-color: orange;
}

img {
  float: right;
  height: 200px;
}
